.teacherDashboard{
    text-align: start;
}
.stats{
    /* width: 70rem; */
}
.dashboardText{
    width: 10rem;
    margin: auto;
    color: cornflowerblue;
}
.leaningPic{
    width: 25rem;
    border-radius: 4px;
}
.courseDetails:hover{
    opacity: .6;
    cursor: pointer;
}